<<<<<<< HEAD
*{
    --primary-color: #fff0f5 ;
    --second-color: #080808;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Montserrat;
}
ul{
    list-style-type:none;
}

body{
    min-height: 100vh;
    background-color: #483d8b ;
    background-size: cover;
    background-position: center;
}

.header__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header__logo{
    font-size: 32px;
    color: #f8f8ff;

}

.header__menu  a{
    position: relative;
    font-size: 18px;
    color: #f0ffff;
    font-weight: 500;
    text-decoration: none;
    margin-left:40px;

}

.header__menu a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background:#f8f8ff;
    transition: .3s;
}
.header__menu a:hover::before{
    width: 100%;

}

.main-img{
    border-radius: 1000px;
    width: 100px;
    height: 100px;
}

.main__section{
    padding: 100px;
    min-height: 800px;
    display: flex;
    border: 8px solid #966fd6;
    justify-content: flex-start;
    align-items: center;
}

.section__article{
    height: 500px;
    width: 500px;
    background-image: url(img/background-night.jpg) ;
    background-size: cover;
    padding: 125px;
    display: flex;
}

.section__article__basic{
    color: #fff0f5;
}

.section__article__basic h1:hover{
    color: #000;
    transition: 2s;
}

=======
body{
    font-family: sans-serif;
    margin: 0;
    
}
a{
   text-decoration: none;
   color: #fff;
}
header{
    min-height: 70px;
    display: flex;
    background-color:#423333;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    height: 50px;
    border-radius: 50px;
}

nav a{
   font-weight: 600;
   padding-right: 10px;
}

nav a:hover{
    color: #A29898;
}

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
>>>>>>> feature-css
